<section>
    <h2>Formulario</h2>
    <form action="/productos" method="post" >
        <input type="text" name="nombre" placeholder="Nombre">
        <br>
        <input type="text" name="descripcion" placeholder="descripcion">
        <br>
        <input type="number" name="price" placeholder="price">
        <br>
        <input type="submit" value="Enviar">
    </form>
    <!-- lista  de productos -->
    
</section>
